<!DOCTYPE html>

<head>
  <title>Online Booking System: Forget Password</title>
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script src="js/bootstrap.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <!-- Custom Theme files -->
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  </script>
  <!-- webfonts -->
  <link
    href="http://fonts.googleapis.com/css?family=Raleway:200,400,300,600,500,900,700,100,800|Comfortaa:700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="http://fonts.googleapis.com/css?family=Comfortaa:700,300,400"
    rel="stylesheet"
    type="text/css"
  />
  <!-- webfonts -->
</head>

<style>
  body {
    font-size: 15px;
    font-family: Arial;
  }

  a {
    /* color: #999; */
  }

  .redColor {
    color: #c40000 !important;
  }

  nav.top {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
  }

  nav.top span,
  nav.top a {
    /* color: #999; */
    margin: 0px 10px 0px 10px;
  }

  nav.top a:hover {
    color: #c40000;
  }
</style>



		<!-- container -->
		<!-- header -->
		<div class="header">
                <div class="container">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.php"><img src="images/logo.png" title="carwash" /></a>
                    </div>
                    <!-- /logo -->
                    <!-- top-nav -->
                    <div class="top-nav">
                        <span class="menu"> </span>
                        <ul>
                        <li class="active"><a href="index.php">Home</a></li>
						<li><a href="about.php">About</a></li>
						<li><a href="services.php">Services</a></li>
						<li><a href="login.html">Login/Register</a></li>
                            <!-- <li><a href="contact.html">Contact</a></li> -->
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <!-- script-for-nav -->
                    <script>
                        $(document).ready(function(){
                            $("span.menu").click(function(){
                                $(".top-nav ul").slideToggle(1000);
                            });
                        });
                    </script>
                    <!-- script-for-nav -->
                    <!-- /top-nav -->
                    <div class="clearfix"> </div>
                </div>
                <!-- /header -->
            </div>

<style>
  div.registerDiv {
    /* margin: 10px 20px; */
    text-align: center;
  }
  img.loginBackgroundImg {
        height: 610px !important;
        /* display: block; */
        margin: 0px auto 0px 0px;
    }
  div.registerTable {
    display:table ;
    color: #3c3c3c;
    background-color: white;
    font-size: 16px;
    position: relative;
    table-layout: fixed;
    /* margin-top: 50px; */
    margin: -500px auto auto auto;

    /* border-style: solid; */

    -moz-box-shadow: 0 0 10px black;
    -webkit-bos-shadow: 0 0 10px black;
    box-shadow: 0 0 20px black;
    z-index: 1;
  }
  table.registerTable {
    table-layout: fixed;

    /* border-style: solid; */
  }
  div.footer{
      position: absolute;
      top:733px;
      width:100%;
  }

  table.registerTable td {
    padding: 10px 30px;
  }

  table.registerTable input {
    border: 1px solid #dedede;
    width: 213px;
    height: 36px;
    font-size: 14px;
  }

  /* table.registerTable button {
    width: 170px;
    height: 36px;
    border-radius: 2px;
    color: white;
    background-color: #c40000;
    border-width: 0px;
  } */

  table.hiddenTable {
    display: none;
  }

  td.registerTip {
    font-weight: bold;
  }

  td.registerTableLeftTD {
    width: 250px;
    text-align: right;
  }

  td.registerTableRightTD {
    width: 350px;
    text-align: left;
  }
  td.registerTableRightTD input {
    width: 250px;
  }
  td.registerButtonTD {
    text-align: center;
  }



 
</style>

<div class="registerDiv">
  <img src="images/slide4.jpg" class="loginBackgroundImg" id="loginBackgroundImg" width="100%">
  <div align="center" class="registerTable" id="registerTable1">
      <form name="form1" method="post" action="" target="nm_iframe" onsubmit="return check.checkAll1();">
          <table align="center" class="registerTable" >
              <tr>
                  <td align="center" colspan="2">
                      <h2>Find Your Lost Password</h2>
                  </td>
              </tr>
              <tr>
                  <td class="registerTableLeftTD">E-Mail address:</td>
                  <td class="registerTableRightTD">
                      <input class="form-control" type="text" name="email" value="" v-model="email" style="width: 250px;" /> <span v-bind:style="emailColor"> {{ checkEmail() }}</span> 
                  </td>
              </tr>
              <tr>
                  <td class="registerButtonTD" colspan="2">
                      <button class="btn btn-success" type="submit" id="emailButton" style="width: 160px;">get verify code</button>
                  </td>
              </tr>
          </table>
      </form>
      <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
      <form name="form2" method="post" action="setNewPassword.html" onsubmit="return check.checkAll2();">
          <table align="center" class="registerTable">
              <tr>
                  <td class="registerTableLeftTD">Verify Code:</td>
                  <td class="registerTableRightTD">
                      <input id="email2" type="text" name="email2" value="" hidden="true">
                      <input type="verifyCode" name="verifyCode" value="" v-model="verifyCode">
                  </td>
              </tr>
              <tr>
                  <td class="registerButtonTD" colspan="2">
                      <!-- <a href="#nowhere"><button onclick="showNextTable(1)">next</button></a
        > -->
                      <button type="submit" class="btn btn-success" name="register" style="width: 160px;">NEXT</button>
                      </br>
                      </br>
                      <!-- <input type="submit" name="register" value="REGISTER NEW ACCOUNT" />--></td>
              </tr>
          </table>
      </form>
  </div>
</div>
<div class="footer">
  <div class="container">
      <div class="footer-grids">
          <div class="col-md-3">
              <div class="footer-grid">
                   <h5>About US</h5>

                  <p>We are a professional and efficient car wash team.</p>
                  <p>Welcome to book our service online.</p>
              </div>
          </div>
          <div class="col-md-3" style="display: none;">
              <div class="footer-grid f-blog">
                   <h5>Form the Blog</h5>

                  <div class="f-blog-artical">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> <span>March 20,2014</span>

                  </div>
                  <div class="f-blog-artical f-blog-artical1">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> <span>March 20,2014</span>

                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-grid site-map">
                   <h5>Site Map</h5>

                  <ul>
                      <li><a href="index.php"><span> </span>Home</a>
                      </li>
                      <li><a href="about.php"><span> </span>About</a>
                      </li>
                      <li><a href="services.php"><span> </span>Services</a>
                      </li>
                      <li><a href="#"><span> </span>Booking</a>
                      </li>
                      <!-- <li><a href="contact.html"><span> </span>Contact</a></li> -->
                  </ul>
              </div>
          </div>
          <div class="col-md-3">
              <div class="footer-grid f-gallery">
                   <h5>Gallery</h5>

                  <div class="f-gallery-grids">
                      <div class="f-gallery-grid">
                          <ul>
                              <li>
                                  <a href="#">
                                      <img src="images/people-pic.jpg" title="name" />
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <img src="images/people-pic1.jpg" title="name" />
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <img src="images/people-pic4.jpg" title="name" />
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <img src="images/people-pic3.jpg" title="name" />
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <img src="images/people-pic4.jpg" title="name" />
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <img src="images/people-pic1.jpg" title="name" />
                                  </a>
                              </li>
                              <div class="clearfix">
                          </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
  </div>
  <script type="text/javascript">
      var waitTime = 60;

      function time(ele) {
          if (waitTime == 0) {
              ele.disabled = false;
              ele.innerHTML = "get verify code";
              waitTime = 60; // 恢复计时
          } else {
              ele.disabled = true;
              ele.innerHTML = "      " + waitTime + "s     ";
              waitTime--;
              setTimeout(function() {
                  time(ele) // 关键处-定时循环调用
              }, 1000)
          }
      }
  </script>
  <script>
      function checkTel(num) {
          regex = /^(?:\+?(61))? ?(?:\((?=.*\)))?(0?[2-57-8])\)? ?(\d\d(?:[- ](?=\d{3})|(?!\d\d[- ]?\d[- ]))\d\d[- ]?\d[- ]?\d{3})$/;
          if (regex.test(num))
              return true;
          else return false;
      }


      var check = new Vue({
          el: '#registerTable1',
          data: {
              email: '',
              emailColor: "color:red",
              emailBoolean: false,
              password: '',
              passwordtColor: "color:red",
              passwordBoolean: false,
              password2: '',
              password2Color: "color:red",
              password2Boolean: false,
              phoneNum: '',
              firstName: '',
              lastName: '',
              carType: '',
              street: '',
              suburb: '',
              state: '',
              postCode: '',       
              verifyCode:''
          },
          methods: {
              // checkTel:function(){
              //     return false;
              //     regex="^(?:\+?(61))? ?(?:\((?=.*\)))?(0?[2-57-8])\)? ?(\d\d(?:- |(?!\d\d[- ]?\d[- ]))\d\d[- ]?\d[- ]?\d{3})$";
              //     if (regex.test(this.phoneNum))
              //     return true;
              //     else return false;
              // },
              checkEmail: function() {
                  value = this.email;
                  if (!value) return ''; //如果为空，则返回空字符串
                  var myReg = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org|au)$/;
                  if (myReg.test(value)) {
                      this.emailColor = "color:green";
                      this.emailBoolean = true;
                      // return "correct email format";
                      return "";
                  } else {
                      this.emailColor = "color:red";
                      this.emailBoolean = false;
                      return "incorrect email format";
                  }
              },

              checkAll1: function() {
                  if (this.emailBoolean) {                                            
                      document.getElementById("email2").value = this.email;
                      //alert(document.getElementById("email2").value);
                      time(document.getElementById("emailButton"));
                      return true;
                  } else {
                      alert("Invalid imformation.");
                      return false;
                  }
              },
              checkAll2: function() {
                  //alert(document.getElementById("email2").value);
                  if (!document.getElementById("email2").value) {
                      alert("Please get verify code at first.");
                      return false
                  }
                  if (!this.verifyCode ) {
                      alert("Please fill verify code.");
                      return false
                  }
                  return true;
              },
            }
            
      })
  </script>